
<!--Cette page affiche les résultats de la recherche d'animaux.-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Résultats de recherche</title>
</head>
<body>
   <div class="container_resultats">
    {% block content %}
        <h1>Résultat(s) trouvé pour "{{ query }}"</h1>
    </div>
        {% if animals %}
            <ul>
                {% for animal in animals %}
                    <li class="slide-in-left">
                        <h2>{{ animal.nom }}</h2>
                        <p>{{ animal.description }}</p>
                        <p><a href="{{ url_for('animal', animal_id=animal.id) }}" class="details">Voir les détails</a></p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun résultat trouvé.</p>
        {% endif %}
    {% endblock %}

</body>
</html>